[project]
	description = A blog on dynamically creating , updating and deleting Quartz Jobs
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/gysenthil
[access "refs/for/refs/*"]
	read = group user/gysenthil
	push = group user/gysenthil
	label-Code-Review = -2..+2 group user/gysenthil
	label-Verified = -1..+1 group user/gysenthil
	rebase = group user/gysenthil
	removeReviewer = group user/gysenthil
	submit = group user/gysenthil
[access "refs/heads/*"]
	read = group user/gysenthil
	create = group user/gysenthil
	push = +force group user/gysenthil
	pushMerge = group user/gysenthil
[access "refs/tags/*"]
	push = group user/gysenthil
	push = +force group user/gysenthil
